
header{
	padding: 5px;
}

#Logo {

position:relative;
right:800px;
bottom:20px;
}

#Name {
	position:relative;
	bottom:110px;

}
nav {
	float: left;
	background-color:#909090;
	line-height:30px;
	padding: 10px;
	height:300px;
	width:100px;
	
}

#Copyright {
	text-align: right;
}



body {
	padding: 50px;
	text-align:center;
}

footer {
	border: 1px solid black;
	text-align:left;
	padding: 10px;
	clear:both;

}
#forms {
	float:left;
	padding: 10px;
	text-align:left;
}
