/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=The+Girl+Next+Door);
/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
body {
  color: #FFF;
  background-color: #000;
  background: url("../assets/dnd_phb_art.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 26, ../sass/screen.scss */
#forms {
  width: 100%;
  display: inline-block;
  margin: 3%;
}

/* line 32, ../sass/screen.scss */
#header {
  color: #000;
  background-color: #FFF;
}
/* line 36, ../sass/screen.scss */
#header h1 {
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
}
@media (max-width: 820px) {
  /* line 36, ../sass/screen.scss */
  #header h1 {
    font: 300% Tahoma, Geneva, sans-serif;
    padding-top: 7%;
    padding-bottom: 12%;
  }
}
@media (min-width: 819px) {
  /* line 36, ../sass/screen.scss */
  #header h1 {
    font: 400% Tahoma, Geneva, sans-serif;
    padding-top: 56px;
    padding-bottom: 72px;
  }
}
/* line 54, ../sass/screen.scss */
#header #h-image {
  position: relative;
  width: 17%;
  height: auto;
}
@media (max-width: 820px) {
  /* line 54, ../sass/screen.scss */
  #header #h-image {
    width: 100px;
  }
}
@media (min-width: 819px) {
  /* line 54, ../sass/screen.scss */
  #header #h-image {
    width: 150px;
  }
}

/* line 69, ../sass/screen.scss */
#nav #nav-bar {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: none;
}
/* line 75, ../sass/screen.scss */
#nav #nav-button {
  display: inline-block;
  margin: 0 auto;
  font-size: 120%;
  padding: 1.5%;
}
/* line 81, ../sass/screen.scss */
#nav #nav-button a {
  text-decoration: none;
  color: #8082aa;
  font-weight: 700;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
/* line 88, ../sass/screen.scss */
#nav #nav-button a:hover {
  opacity: 0.5;
}

/* line 94, ../sass/screen.scss */
#footer {
  font: 100% Tahoma, Geneva, sans-serif;
  color: #FFF;
  text-align: center;
  clear: left;
  padding: 5% 0 0 5%;
}

/* line 102, ../sass/screen.scss */
#home-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

/* line 109, ../sass/screen.scss */
.json-text {
  min-width: 500px;
  max-width: 500px;
  text-align: justify;
  margin: 0 auto;
}

/* Style from http://cssdeck.com/labs/striped-business-card*/
/* line 119, ../sass/screen.scss */
#bcbg {
  width: 450px;
  height: 250px;
  background: transparent url(http://colourlovers.com.s3.amazonaws.com/images/patterns/3925/3925858.png?1381698366) repeat bottom right;
  padding: 15px;
  font-family: 'Ubuntu', sans-serif;
}

/* line 124, ../sass/screen.scss */
.container {
  background: #222627;
  width: 445px;
  height: 245px;
  border: 2px dotted #1ba9cc;
  font-family: 'Ubuntu', sans-serif;
}

/* line 125, ../sass/screen.scss */
.line1 {
  font-family: 'The Girl Next Door', cursive;
  font-size: 29px;
  color: #fff;
  margin: 8px;
}

/* line 126, ../sass/screen.scss */
.line2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  color: #fff;
  margin: -8px 0 0 9px;
}

/* line 127, ../sass/screen.scss */
.contact {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  width: 250px;
  height: 65px;
  margin: 75px 0 0 9px;
  padding: 5px;
}

/* line 128, ../sass/screen.scss */
.logo {
  width: 125px;
  height: 130px;
  float: right;
  margin: -219px 10px 0 0;
  text-align: center;
}

/* Based off of styles from http://www.sanwebe.com/2014/08/css-html-forms-designs
 and http://codepen.io/rexkirby/pen/Fdnlz*/
/* line 133, ../sass/screen.scss */
#contact {
  float: left;
  margin: 0 auto;
  width: 400px;
  font: 1em Tahoma, Geneva, sans-serif;
  background: #451212;
  padding: 30px 30px 30px 50px;
  border: 5px solid #342323;
}
/* line 141, ../sass/screen.scss */
#contact #name, #contact #level, #contact #race, #contact #class, #contact #subrace, #contact #background {
  background: #c73333;
  padding: 8px 15px 8px 15px;
  border: none;
  width: 350px;
}
/* line 147, ../sass/screen.scss */
#contact #submit {
  background: #c73333;
  padding: 14px 16px 8px 16px;
  border: none;
}
/* line 152, ../sass/screen.scss */
#contact #submit:active {
  background: #c73333;
  border: 2px dotted #1ba9cc;
}

/* line 158, ../sass/screen.scss */
#right_col {
  text-align: center;
}

/* line 162, ../sass/screen.scss */
#character_display {
  text-align: left;
  float: right;
  clear: right;
  margin: 5% 5% 5% 1%;
  width: 35%;
  font: 1em Tahoma, Geneva, sans-serif;
  background: #451212;
  padding: 30px 30px 30px 30px;
  border: 5px solid #342323;
}

/* line 174, ../sass/screen.scss */
#char_title {
  position: relative;
  font: 1.5em Tahoma, Geneva, sans-serif;
  align: center;
  padding-left: 10px;
  margin-left: 10px;
}
