/* line 1, ../sass/Style.scss */
#header {
  padding: 20px;
  border: 1px solid black;
}

/* line 5, ../sass/Style.scss */
#nav {
  float: left;
  background-color: #909090;
  line-height: 30px;
  padding: 10px;
  height: 300px;
  width: 100px;
}

/* line 14, ../sass/Style.scss */
#CopyRight {
  text-align: right;
}

/* line 18, ../sass/Style.scss */
#body {
  padding: 50px;
  text-align: center;
}

/* line 23, ../sass/Style.scss */
#footer {
  border: 1px solid black;
  padding: 10px;
  clear: both;
}
